PUBLIC_CONTACT_FORM_ENDPOINT=
PUBLIC_CONTACT_EMAIL=ignite.apps.co@gmail.com
PUBLIC_WHATSAPP_URL=
PUBLIC_WHATSAPP_NUMBER=573107798107
PUBLIC_WHATSAPP_MESSAGE=Hola!, ví la página web y estoy interesado en los servicios de Sat Scale.
